<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>{% block title %}LIMS{% endblock title %}</title>
</head>

<body>
    <div>
        <h1>LIMS</h1>
        <div>
            <a href="{% url 'lims:index' %}">[ Index ]</a>
            <a href="{% url 'lims:runs' %}">[ Runs ]</a>
            <a href="{% url 'lims:samplesheets' %}">[ Samplesheets ]</a>
            <a href="{% url 'lims:samples' %}">[ Samples ]</a>
        </div>
    <hr>

    <div id="content">
        {% block content %}{% endblock content %}
    </div>
</body>
</html>
